   <footer style="margin-top: 5%">
        <div class="container" style="margin-top: 5%">
            <div class="row" style="margin-top: 5%">
               
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="margin-top: 5%">
                    <ul class="list-inline text-center">
                        <li>
                          
                            <a target="_blank" href="https://www.github.com/haziqali">
                                <span class="fa-stack fa-lg" style="color: blue">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.facebook.com/haziqshowkat">
                                <span class="fa-stack fa-lg" style="color: blue">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; EPL.com 2017</p>
                </div>
                
            </div>
        </div>
    </footer>