    <header class="intro-header" style="margin-top: 5%">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h2>EPL Fixture details</h2>
                        
                        <span class="subheading">for seasons 2015 and 2016</span>
                        
                    </div>
                </div>
            </div>
           
        </div>
    </header>