<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <h1 style="text-align: center;color: aquamarine;margin-bottom: 5vmax;">{{matchCtrl.pageHeading}}</h1>

        <div class="post-preview" style="background-color: black;color: white; width: 100%;padding-bottom: 2vmax;">
            <strong style="background-color: red;color: white; width: 100%;text-align: center;padding-top: 0vmax" class="center-block">Date: {{matchCtrl.match.date}}</strong> <br>
            <div>
               
                    <h4 class="post-title" style="text-align: center;padding-bottom: 0vmax; color: aquamarine;font-size: 1.6vmax;">
                        {{matchCtrl.match.team1.name}} ({{matchCtrl.match.team1.code}}) vs {{matchCtrl.match.team2.name}} ({{matchCtrl.match.team2.code}})<br><br> Score : {{matchCtrl.match.score1}} - {{matchCtrl.match.score2}}<br>
                    </h4>
               

            </div>
        </div>

<ul class="pager">
    <a href="#/" style="background-color: firebrick;text-align: center;" class="btn btn-lg">BACK  &larrhk;</a>
</ul>
    </div>
</div>
